a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.header__header {
  /* padding: 20px 20px; */
  display: flex;
  align-items: center;
}
.header__logo-container {
  margin-right: auto;
}
.header__logo {
  width: 93px;
  height: 89px;
}
.header__find-astro {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    color: red;

}
/* .sign-in-btn{
    background-color: #f0941e;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    width: 91px;
    height: 43px;
    color: #fff;
    font-family: Metropolis-SemiBold,sans-serif;
    margin-left: 36px;
} */

.header__login-btn {
  margin-left: 20px;
}
