/* --------------------------howitworks------------------ */
.section {
  text-transform: capitalize;
  text-align: center;
  padding: 75px 0px;
  /* border: 1px solid red; */
}
.heading {
  color: black;
  font-size: 32px;
}
.subheading {
  margin-top: 25px;
  color: #232323;
  opacity: 0.5;
  font-size: 16px;
}
.list-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 60px;
}
.list-items {
  display: inline-block;
  width: 10%;
  position: relative;
  margin-left: 10%;
}
.icon {
  display: inline-block;
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid #f0df20;
  position: relative;
  border-radius: 120px;
}
.list-items:first-child {
  margin-left: 0;
}
.icon::before {
  content: "";
  border-top: 4px dotted #f0df20;
  width: 100%;
  position: absolute;
  left: 100%;
  top: 50%;
}
/* .icon:last-of-type::before {
    content: none;
} */
.list-items:last-of-type .icon::before {
  content: none;
}
.wallet-img {
  vertical-align: middle;
  border-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
}
/* ----------------------------featuredastrologers---------------- */
.bg-color {
  background-color: rgba(211, 206, 230, 0.13);
}
.card-container {
  margin-top: 50px;
}
.custom-card {
}
.img-container {
  height: 100px;
  width: 100px;
  border-radius: 120px;
  border: 1px solid red;
  margin: auto;
  overflow: hidden;
}
.img {
  width: 100%;
}
.body {
  margin-top: 17px;
}
.title {
  color: #f0df20;
}
.sub-title {
}
.copy {
  color: rgba(0, 0, 0, 0.5);
}

/* --------------------------------login----------------------------- */
.overlay__section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.custom-overlay {
  /* position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  cursor: pointer; */
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-card {
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* margin-top: 62px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%); */
}
.login-img-container {
  background-image: url("../login-form-bg-2.jpg");
  margin-top: -17px;
  height: 100%;
  background-size: cover;
  background-position: right;
}
.login-img-txt {
}
.login-form-container {
  padding: 40px 50px;
  padding: 90px 50px;
}
.login-form-heading {
  font-size: 36px;
  font-weight: 400;
}
.login-form-subheading {
  font-size: 18px;
  color: #666;
  margin-top: 12px;
  font-weight: 400;
}
.login-input-container {
  margin-top: 34px;
}
.login-input-container input {
  padding: 14px;
}
.submit-btn {
}
.enter-no {
  color: #a94442;
  margin-top: 14px;
}
.custom-submit-btn {
  width: 100%;
  border-radius: 27px;
  background-color: #fc0;
  border: 1px solid #d2a700;
  color: #333;
  padding: 12px;
  font-size: 23px;
  margin-top: 21px;
  cursor: pointer;
}
.terms {
  color: #666;
  font-size: 18px;
  margin-top: 18px;
}
.terms span {
  color: #c39f0f;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.custom-cross-btn {
  background: transparent;
  border: none;
  top: 23px;
  right: 47px;
  position: absolute;
  padding: 23px;
  cursor: pointer;
}
.custom-cross-btn::before {
  content: "";
  width: 33px;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotateZ(45deg);
}
.custom-cross-btn::after {
  content: "";
  width: 33px;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotateZ(-45deg);
}
@media (max-width: 768px) {
  .custom-overlay {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .custom-overlay {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .custom-overlay {
  }
}

@media (min-width: 1200px) {
  .custom-overlay {
  }
}

@media (min-width: 1400px) {
  .custom-overlay {
  }
}
.enter-otp,
.otp-issue-container {
  color: #666;
}
.resend-otp a,
.resend-otp-call a {
  color: #666;
  text-decoration: underline;
  font-weight: 500;
}

.opt-input-container input {
  margin: 0 10px 15px 0;
  padding: 0;
  height: 45px;
  width: 40px !important;
  outline: none;
  border: none;
  /* font-size: 16px !important; */
  /* text-align: center; */
  font-size: 20px;
  border-radius: 0;
  border-bottom: 2px solid #999;
}

.otp-issue-container {
  margin-top: 16px;
}
.resend-otp-call {
  margin-top: 5px;
}

/* ----------------------------------footer------------------------ */
.footer__section {
  background-color: #1d181f;
  padding: 72px 0px;
}
.footer__container {
  display: flex;

  justify-content: space-between;
}
.footer__item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer__item ul li a {
  color: white;
}
.footer__item ul li a {
  color: #979797;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__item ul li:first-child a {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-transform: uppercase;
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.footer__item ul li:first-child {
  border-right: 1px solid white;
  margin-bottom: 16px;
}

.footer__social-icons a img {
  vertical-align: middle;
  border-style: none;
  background-color: aliceblue;
  width: 36px;
  border: 1px solid transparent;
  margin: 0px 4px;
}

/* -----------------------------------------horoscope----------------------------- */
.test {
  /* border: 1px solid black; */
}
.test-2 {
  /* border: 1px solid green; */
}
.horoscope__title {
  text-align: center;
}
.horoscope-section{
  margin-top: 30px;
}
.horoscope-sign-container {
}
.horoscope-item {
  cursor: pointer;
   /* border: 1px solid red; */
}

.horoscope-item__img-container {
  /* border: 1px solid red; */
  text-align: center;
}
.horoscope-item__img {
  width: 100%;
  /* margin-top: -22px; */
  transform: scale(0.9);
}

.horoscope-item__container {
  text-align: center;
  text-transform: capitalize;
  /* font-size: 13px; */
  /* margin-top: -37px; */
}
.horoscope-item__title {
  font-size: 19px;
  margin-bottom: 4px;
}
.horoscope-item__date {
  font-size: 11px;
}

@media (min-width: 576px) {
  .horoscope-item__img {
    transform: scale(1);
    width: 50%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .horoscope-item__img {
    transform: scale(1.3);
    width: 100%;
  }
  .horoscope-item__container {
    margin-top: 15px;
  }
  .horoscope-sign-container {
    margin-top: 50px;
  }
  .horoscope-item:hover .horoscope-item__img {
    transform: scale(1.5);
    transition: .1s;
  }
  .horoscope-item__title {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .horoscope-item__img {
    width: 100%;
  }
  .horoscope-item__container {
    margin-top: 19px;
  }

  .horoscope-item__date {
    font-size: 13px;
  }
  .horoscope-item__title {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
}
